{% extends "base.html" %}
{% block content %}
	<div class="container">
		{{ p.render() | safe }}
		<hr>
		<div class="comments">
			{% for c in comments %}
				{% if c.get() %}
				<div class="comment">
					<div class="creatednWrittenBy">
						<p id="comment-user"><strong>{{c.get().name}}</strong></p>
						<p id="comment-writtenTime">
							{% if c.get().created.strftime("%Y") == current.strftime("%Y") %}
								{{c.get().created.strftime("%m월 %d일 %H시 %M분")}}
							{% else %}
								{{c.get().created.strftime("%Y년 %m월 %d일 %H시 %M분")}}
							{% endif %}
						</p>
					</div>
					<a href="/comment/manage/{{c.id()}}" class="btn btn-outline-primary btn-sm">수정/삭제</a>
					<br>
					<br>
					<div class="content">
						<p>{{c.get().content}}</p>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
		<hr>
		<form method="post">
			<div class="form-group">
			    <label for="name">이름</label>
				<input type="text" class="form-control" name="name" placeholder="이름, 또는 닉네임을 입력하세요." style="width:600px">
				<p>{{error_name}}</p>
			</div>
			<div class="form-group">
			    <label for="password">비밀번호</label>
			    <input type="password" class="form-control" name="password" placeholder="수정/삭제 시 비밀번호가 필요합니다." style="width:600px">
			    <p>{{error_password}}</p>
			</div>
			<div class="form-group">
			    <label for="textarea"></label>
			    <textarea class="form-control" name="content" rows="5" style="width:600px"></textarea>
			    <p>{{error_content}}</p>
			</div>

			<button type="submit" class="btn btn-primary">작성 완료</button>
		</form>
		<br>
		<br>
	</div>
{% endblock %}