<div class="post-el">
	<hr>
	<div class="subject">
		<h3><a href="/postpage/{{p.key.id()}}">{{p.subject}}</a></h3>
	</div>
	<div class="creatednWrittenBy">
		<p id="writtenTime">
			{% if p.created.strftime("%Y") == current.strftime("%Y") %}
				{{p.created.strftime("%m월 %d일 %H시 %M분")}}
			{% else %}
				{{p.created.strftime("%Y년 %m월 %d일 %H시 %M분")}}
			{% endif %}
		</p>
		<p id="writtenBy">written by {{p.user.get().name}}</p>
	</div>
	<div class="content">
		{{p.content|safe}}
			<!--{{ lipsum(n=5, html=True, min=20, max=100) }}-->
	</div>
	<br>
	<div class="modify">
		<ul class="nav">
			<li><a href="/edit/{{p.key.id()}}" id="modify-el">수정</a></li>
			<li><a href="/delete/{{p.key.id()}}" id="modify-el">삭제</a></li>
		</ul>
	</div>
</div>